<div class="px-2 lg:px-12">

    <div class="flex items-center justify-between mt-6">
        <a href="/"
            class="bg-zinc-200/50 dark:bg-zinc-800/50 hover:bg-zinc-200 dark:hover:bg-zinc-800 rounded-full p-3 transition text-teal-700 dark:text-teal-400">
            <span>
                <svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                    class="h-4 w-4 stroke-zinc-500 transition group-hover:stroke-zinc-700 dark:stroke-zinc-500 dark:group-hover:stroke-zinc-400">
                    <path d="M7.25 11.25 3.75 8m0 0 3.5-3.25M3.75 8h8.5" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </span>
        </a>
        <span class="text-3xl text-teal-500 dark:text-teal-500 font-semibold">
            {{ title }}
        </span>
        <div></div>
    </div>

    <div
        class="flex flex-col md:flex-row justify-between items-center text-center text-teal-600 dark:text-teal-300 border-teal-400 dark:border-teal-600 rounded-full mt-8 text-sm">
        <span class="mt-2 md:mt-0 text-teal-800 dark:text-teal-400">{{ author:name }}</span>
        <span class="font-normal">{{ date }}</span>
    </div>

    <article class="space-y-6 mt-10 leading-relaxed text-zinc-800 dark:text-zinc-200 text-pretty">
        {{ content }}
    </article>
</div>